a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #00A3DB;
}

body {
    margin: 0 auto;
    max-width: 900px;
}

.header {
    text-align: center;
}

.avatar {
    margin: 20px 10px 5px;
    border-radius: 50%;
}

.menu {
    font-weight: bold;
    margin: 20px 10px 50px;
}

.melec {
    margin: 0 7px;
    font-size: 110%;
}